
/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(205%, 100%, 16%, 1);
$color3: hsla(37%, 98%, 53%, 1);
$color4: hsla(0%, 0%, 90%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);  
$color2: rgba(0, 49, 83, 1);
$color3: rgba(252, 163, 17, 1);
$color4: rgba(229, 229, 229, 1);
$color5: rgba(255, 255, 255, 1);